<moura-page-logada [base]="ctrl">
    <content>

        <!-- <cc1:MouraLabel runat="server" ID="lblVersao" Text="" Label="Versão"></cc1:MouraLabel>

        <cc1:MouraLabel runat="server" ID="lblSenhaDia" Label="Senha do Dia"></cc1:MouraLabel>
        <cc1:MouraLabel runat="server" ID="lblServidor" Label="Servidor"></cc1:MouraLabel>
        <cc1:MouraLabel runat="server" ID="lblBanco" Label="Banco"></cc1:MouraLabel>
        <cc1:MouraLabel runat="server" ID="lblHomolocacao" Label="Publicação" ForeColor="Red" Text="Homologação"></cc1:MouraLabel>

        <cc1:MouraModal runat="server" ID="mdHTML" HeaderText="Editor" Width="400px" ShowCloseButton="false">
            <Controles>
                <cc1:MouraLabel runat="server" ID="lblEnviado" Label="Enviado em " Text="" Font-Bold="true" />
                <cc1:MouraTextBoxChat runat="server" ID="htmlView" TamanhoCampo="Full" Width="400px" HeightChat="400" Label="" LabelNoTopo="true"></cc1:MouraTextBoxChat>
                <cc1:MouraButton runat="server" ID="btnVerDepois" Text="Ver Depois" />
                <cc1:MouraButton runat="server" ID="btnOk" Text="Ok, entendi." CorBotao="Azul" Style="position: relative; float: right;" />
            </Controles>
        </cc1:MouraModal>


        <cc1:MouraModal runat="server" ID="mdValidade" HeaderText="" Width="900px" ShowCloseButton="false">
            <Controles>

                <cc1:MouraGridView runat="server" ID="grdValidade" MostrarAdicionar="false"
                                   MostrarBotaoNovo="false" NgItem="Validade" NgItens="Validades" Width="100%" />

                <cc1:MouraButton runat="server" ID="btnOkValidade" Text="Ok, entendi." CorBotao="Azul" Style="position: relative; float: right;" />
            </Controles>
        </cc1:MouraModal> -->

        <moura-modal #modalTeste titulo="Teste Modal">
            <content>
                <p>teste</p>
            </content>
        </moura-modal>

    </content>
</moura-page-logada>
